node-red/.flows.json.backup
[{"id":"04bd169a82238bd0","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ca719b80.d918c8","type":"server","name":"Home Assistant","addon":true},{"id":"02b9f7380e194fcf","type":"inject","z":"04bd169a82238bd0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"my first sequence","payload":"I did it","payloadType":"str","x":190,"y":160,"wires":[["ff3d7bf7b2c0a2cc"]]},{"id":"fb1833d1c5a068a0","type":"debug","z":"04bd169a82238bd0","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":220,"wires":[]},{"id":"ff3d7bf7b2c0a2cc","type":"api-call-service","z":"04bd169a82238bd0","name":"Lights On","server":"ca719b80.d918c8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["817d13a2421b3abc46991c8c7d8c4a65"],"entityId":["light.controller_tv_lights_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":360,"wires":[["fb1833d1c5a068a0","2d20015f265a33cd"]]},{"id":"2d20015f265a33cd","type":"ha-wait-until","z":"04bd169a82238bd0","name":"","server":"ca719b80.d918c8","version":2,"outputs":2,"entityId":"switch.bedroom_entry_9","entityIdFilterType":"exact","property":"","comparator":"is","value":"","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":680,"y":340,"wires":[[],["c14a9902061e8f58"]]},{"id":"c14a9902061e8f58","type":"api-call-service","z":"04bd169a82238bd0","name":"","server":"ca719b80.d918c8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.controller_tv_lights_5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":480,"wires":[[]]}]